body {
  background-image: url(https://st2.depositphotos.com/3213441/12022/v/950/depositphotos_120226446-stock-illustration-pokemon-go-pokeball-seamless-texture.jpg);

}
body:after{
   opacity: 0.5;
}

#header{
 display:inline-block;
 position: absolute;
 width: 10px;
 height: 50px;
 }

div#main {
  background-color: white;
  width: 60%;
  margin: 10% 20% 10% 20%;
}
